@import "../../Utils/Style/GlobalStyle.scss";
.contact {
  grid-column: span 4;
  margin: 0px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px repeat(2, minmax(130px, auto));
  h1 {
    display: block;
    margin-top: 0px;
    grid-column: span 3;
    align-self: center;
  }
  .contact-wrapper {
    .item {
      display: flex;
      margin: 10px 0px;
      align-items: center;
      border-bottom: 1px solid $primary-color;
      &__title {
        font-weight: 700;
        width: 120px;
      }
      &__content {
        font-size: 0.9rem;
        color: grey;
      }
      img {
        height: 40px;
        width: 40px;
        margin: 5px 30px 10px 0px;
        justify-content: center;
      }
    }
  }
}
