@import "../../Utils/style/GlobalStyle.scss";

.project-wrapper {
  .project-card {
    background-color: $secondary-color;
    height: 300px;
    border-radius: 3%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 15px;
    &:hover {
      filter: drop-shadow(2px 3px 4px rgb(155, 155, 155));
      opacity: 0.9;
    }
    img {
      height: 100px;
      width: 100px;
    }
    h2 {
      color: $primary-color;
      font-size: 1.1rem;
      text-transform: uppercase;
      margin: 10px 0px 5px 0px;
    }
    h3 {
      color: grey;
      font-size: 1rem;
      font-weight: 400;
      font-style: italic;
      margin: 0px;
    }
    .description {
    }
    .structure {
    }
    .knowledges {
      display: flex;
      justify-content: center;
      img {
        height: 50px;
        width: 50px;
        padding: 10px;
      }
    }
  }
  .project-details-wrapper {
    height: 300px;
    width: 500px;
    z-index: 2;
    background-color: $secondary-color;
  }
}
