@import "../../utils/style/GlobalStyle.scss";

.project-wrapper {
  display: flex;
  justify-content: center;
  .project-card {
    background-color: $secondary-color;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 0;
    &:hover {
      filter: drop-shadow(2px 3px 4px rgb(155, 155, 155));
      opacity: 0.9;
    }
    .project-pic-container {
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      border-radius: 10px 10px 0px 0px;
      .project-pic {
        max-width: 100%;
        object-fit: cover;
      }
    }
    h2 {
      color: $primary-color;
      font-size: 1rem;
      text-transform: uppercase;
      margin: 10px 0px 5px 0px;
    }
    h3 {
      color: grey;
      font-size: 0.9rem;
      font-weight: 400;
      font-style: italic;
      margin: 0px;
    }
    .purpose {
      margin: 5px 0px;
      font-size: 13px;
    }
    .knowledges {
      align-self: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: fit-content;
      margin: 5px 0px 15px 0px;
      img {
        height: 20px;
        // max-width: 70px;
        object-fit: contain;
        margin: 10px 5px 5px 5px;
      }
    }
    .button {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 3px solid white;
      background-color: $secondary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      align-self: center;
      bottom: -20px;
      cursor: pointer;
      p {
        color: $primary-color;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
  .project-details-wrapper {
    visibility: hidden;
    height: fit-content;
    max-width: 1000px;
    width: 80%;
    padding: 10px;
    background-color: $secondary-color;
    margin: auto;
    position: fixed;
    border-radius: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 2;
    opacity: 0;
    transform: scale(0.6);
    transition: all 500ms ease-in-out;
    transform-origin: center;
    .close {
      height: 20px;
      width: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
      margin: 0px 0px 10px 10px;
      cursor: pointer;
    }
    .project-pic-container {
      width: 100%;
      max-height: 300px;
      margin-bottom: 20px;
      border-radius: 10px;
      overflow: auto;
      .project-pic {
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
      }
    }
    .project-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      padding: 10px;
      width: 100%;
      .main-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .titles {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          h2 {
            margin: 0px 0px 10px 0px;
            font-size: 1.2rem;
            display: inline-block;
            &::after {
              content: "  •";
            }
          }
          h3 {
            color: grey;
            font-size: 1.1rem;
            font-weight: 400;
            font-style: italic;
            margin: 0px 0px 0px 5px;
            display: inline-block;
          }
          p {
            text-transform: uppercase;
            margin: 0px;
            font-size: 0.9rem;
          }
        }
        .Link {
          height: 20px;
          width: 20px;
          img {
            object-fit: contain;
            height: 20px;
            width: 20px;
          }
        }
      }
      .details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .description {
          font-weight: 200;
          font-size: 14px;
        }
        .knowledges {
          display: flex;
          justify-content: center;
          max-height: 40px;
          margin-top: 20px;
          img {
            margin: 0px 15px;
            height: 30px;
            min-width: 30px;
          }
        }
      }
    }
    &__active {
      background-color: $secondary-color;
      height: fit-content;
      width: 80%;
      max-width: 1000px;
      padding: 10px;
      margin: auto;
      position: fixed;
      border-radius: 10px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;
      transform: scale(1);
      transition: all 500ms ease-in-out;
      filter: drop-shadow(2px 3px 4px rgb(155, 155, 155));
      cursor: default;
      z-index: 2;
      opacity: 1;
      .close {
        height: 20px;
        width: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
        margin: 0px 0px 10px 10px;
        cursor: pointer;
      }
      .project-pic-container {
        width: 100%;
        max-height: 300px;
        margin-bottom: 10px;
        border-radius: 10px;
        overflow: auto;
        .project-pic {
          border-radius: 10px;
          object-fit: cover;
          width: 100%;
        }
      }
      .project-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding: 10px;
        width: 100%;
        .main-info {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 0px 0px 10px 0px;
          .titles {
            display: flex;
            flex-direction: column;
            h2 {
              font-size: 1.2rem;
            }
            h3 {
              color: grey;
              font-size: 1.1rem;
              font-weight: 400;
              font-style: italic;
            }
            p {
              text-transform: uppercase;
              margin: 10px 0px 0px 0px;
              font-size: 0.9rem;
              display: block;
              width: 100%;
            }
          }
          .Link {
            height: 20px;
            width: 20px;
            img {
              object-fit: contain;
              height: 20px;
              width: 20px;
            }
          }
        }
        .details {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .description {
            font-weight: 200;
            font-size: 14px;
          }
          .knowledges {
            display: flex;
            justify-content: center;
            max-height: 40px;
            margin-top: 20px;
            img {
              margin: 0px 15px;
              height: 25px;
            }
          }
        }
      }
      @media only screen and (max-width: 768px) {
        .project-content {
          .main-info {
            .titles {
              flex-direction: column;
              h2 {
                margin: 0px 0px 5px 0px;
                font-size: 1rem;
                &::after {
                  content: none;
                }
              }
              h3 {
                margin: 0px 0px 10px 0px;
                font-size: 1rem;
              }
              p {
                font-size: 0.9rem;
              }
            }
            .link {
              margin: 5px 0px 0px 0px;
            }
          }
          .details {
            .knowledges {
              img {
                margin: 0px 10px;
                height: 25px;
              }
            }
          }
        }
      }
    }
  }
}
