@import "../../Utils/style/GlobalStyle.scss";

.Carrousel-wrapper {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-auto-rows: min-content;
  grid-gap: 10px;
  min-width: 70%;
  // max-width: 100%;
  position: relative;
  h2 {
    grid-column: span 3;
    color: $primary-color;
  }
  .buttons {
    background: none;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin: 10px 5px 0px 5px;
    justify-self: center;
    height: 50px;
    .arrowLeft,
    .arrowRight {
      transform: scale(1);
      height: 50px;
    }
    &:active {
      transform: scale(2);
    }
  }
  .Xperience-wrapper {
    width: 100%;
    position: relative;
    .Xperience {
      transition: all 600ms ease-in-out;
      transform: scale(0.92);
      opacity: 0;
      position: absolute;
      width: 100%;
      &__active {
        transform: scale(1);
        opacity: 1;
        transition: all 600ms ease-in-out;
      }
    }
    @media only screen and (max-width: 768px) {
      margin: 0px;
    }
  }
}
.LoaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}
