@import "../../Utils/style/GlobalStyle.scss";

.Carrousel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 850px;
  width: 100%;
  align-items: center;
  margin: 0px 50px;
  // overflow: hidden;
  .Xperience {
    // background-color: $secondary-color;
    // display: flex;
    // flex-direction: column;
    // margin: 20px 50px;
    // height: 100%;
    // width: 865px;
    // width: 100%;
    transition: all 600ms ease-in-out;
    transform: scale(0.92);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 90%;
    &__active {
      transform: scale(1);
      opacity: 1;
    }
  }
  .LoaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .Arrows {
    display: flex;
    width: 89%;
    top: 188px;
    left: 58px;
    position: absolute;
    justify-content: space-between;
    z-index: 2;
    button {
      background: none;
      border: none;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      .arrowLeft,
      .arrowRight {
        transform: scale(1);
        height: 50px;
      }
      &:active {
        transform: scale(2);
      }
    }
  }
  .count-container {
    z-index: 2;
    position: relative;
    top: -17px;
    background-color: white;
    height: 60px;
    width: 75px;
    border-radius: 50%;
    .count {
      color: black;
      font-size: 24px;
      margin: 20px auto;
      text-align: center;
    }
  }
  @media only screen and (max-width: 768px) {
    .count-container {
      display: none;
    }
  }
}
