@import "../../Utils/Style/GlobalStyle.scss";

.Navigation {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 50px;
  text-transform: uppercase;
  font-weight: 400;
  a {
    font-size: 1.2em;
    &:hover {
      color: $primary-color;
    }
    &.active {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }
  @media screen and (max-width: 900px) {
    margin: 0px 30px;
  }
}
