@import url("https://fonts.cdnfonts.com/css/montserrat");

$primary-color: #ffd200;
$secondary-color: #f4f4f4;

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  #root {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
  }
}

p {
  font-family: "Open Sans";
  text-align: justify;
}
