@import "../../utils/style/GlobalStyle.scss";

.cv-wrapper {
  grid-column: span 4;
  margin: 0px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px repeat(2, minmax(130px, auto));
  h1 {
    display: block;
    margin-top: 0px;
    grid-column: span 3;
    align-self: center;
  }
  .contentContainer {
    grid-column: span 3;
    grid-row: span 3;
    margin: 0px 0px 20px 0px;
    .part1 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      .work {
        display: flex;
        flex-direction: column;
        min-width: 70%;
        h2 {
          grid-column: span 3;
          color: $primary-color;
          margin: 20px 0px;
        }
      }

      @media only screen and (max-width: 900px) {
        flex-wrap: wrap;
      }
    }
  }
  @media only screen and (max-width: 900px) {
    margin: 0px 20px;
    .contentContainer {
      .part1 {
        flex-wrap: wrap;
      }
    }
  }
}
