@import "../../Utils/style/GlobalStyle.scss";

.cv-wrapper {
  grid-column: span 4;
  margin: 0px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px repeat(2, minmax(130px, auto));
  h1 {
    display: block;
    margin-top: 0px;
    grid-column: span 3;
    align-self: center;
  }
  .contentContainer {
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @media only screen and (max-width: 900px) {
      flex-wrap: wrap;
    }
  }
}
